<div class="wrapper">

  <br>
  <div class="inputform">

    <form class="inputframe">
      <input class="inputbox" type="text" ng-model="source1" placeholder="暂无数据" name="name" id="nn" />
      <input class="inputbut" type="button" name="button" value="获 取" ng-click="getsource()" />
      <span class="dataamount">{{amount}}</span>
    </form>
  </div>

  <div class="ui grid ">

    <table class="tablecard">
      <thead>
        <th>
          手机号
        </th>
        <th>
          注册时间
        </th>
        <th>
          下单时间
        </th>
        <th>
          邀请码
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="result in results">
          <td>
            {{result.cellphone}}
          </td>
          <td>
            {{result.reg_time |date}}
          </td>
          <td>
            {{result.order_time |date}}
          </td>
          <td>
            {{result.source}}
          </td>
        </tr>
      </tbody>

    </table>


  </div>
</div>
<br>
<br>
<br>
